
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  min-width: 900px;
  flex-direction: column;
  align-items: center;
  background-color: #d9b44a;
}

h1 {
  margin-top: 0;
  font-size: 1.8em;
}
@media (max-width: 420px) {
  h1 {
    padding: 8px;
    font-size: 1.4em;
  }
}

.spinning-question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 35vh;
}

.spinning-question {
  padding: 10px;
  border: 10px solid #4f6457;
  border-radius: 5px;
  font-size: 1.4em;
  background-color: #acd0c0;
}
@media (max-height: 600px) {
  .spinning-question {
    font-size: 1.2em;
  }
}

.inner {
  min-width: 600px;
  min-height: 100px;
  padding: 10px;
  background-color: #75b1a9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: white;
  text-shadow: 4px 4px 4px #000000;
}


@media (max-width: 900px) {
  .container {
    min-width: 100%;
  }
}

@media (max-width: 600px) {

  .inner {
    min-width: initial;
  }
}

.reroll-btn {
  min-height: 60px;
  border-width: 1px;
  padding: 15px 25px;
  margin-top: 25px;
  margin-bottom: 40px;
  font-size: 1.6em;
  background-color: #acd0c0;
}
